*{
	margin: 0; padding: 0;
	/*Box Sizing*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*Animação*/
	-webkit-transition: all .9s ease;
	-o-transition: all .9s ease;
	transition: all .9s ease; 
	outline: none;
}
body, html{
	max-width: 100%; max-height: 100%
	width: 100vw; height: 100vh;
	font-size: 100%; /*16px*/
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset{
	border: none;
}
[type="submit"]{cursor: pointer;}