.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; 
}

.column{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

header{
	padding: 1em;
	justify-content: space-between;
	/*flex-direction: column-reverse;*/
}	
nav{
	width: 50vw;
	align-items: center;
	background-color: orangered;
	justify-content: space-around;
}

.col1{background-color: blue;}
.col2{background-color: tomato;}
.col3{background-color: lime;}

main{
	width: 100%;
	margin-top: 5em;
	justify-content: space-around;
}
	main section{ 
		width: 200px;  
		height: 200px;
	}

._flex{}
._flex div{flex: 1;}
._flex div:last-child{flex: 4;}